[submodule "third_party/github.com/asjard/protobuf"]
	path = third_party/github.com/asjard/protobuf
	url = https://github.com/asjard/protobuf.git
	branch = master
[submodule "third_party/github.com/google/gnostic"]
	path = third_party/github.com/google/gnostic
	url = https://github.com/google/gnostic.git
	branch = main
[submodule "third_party/bifrost"]
	path = third_party/bifrost
	url = https://github.com/asjard/bifrost-template.git
	branch = master
